<div class="center">
  <div class="wrapper">
    <div class="form-box login for">
      <h2 class="text-center mt-2">Đăng Nhập</h2>
      <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
        <div class="input-box input-group has-validation">
          <input type="text" class="user-password" name="email" ngModel email required
            pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$" #email="ngModel" />
          <label>Email</label>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger" style="width: 100%">
            <p *ngIf="email.errors?.['required']" class="text-danger">
              Không được để trống
            </p>
            <p *ngIf="email.errors?.['pattern']" class="text-danger">
              Email không hợp lệ!
            </p>
          </div>
        </div>

        <div class="input-box input-group has-validation">
          <input type="password" class="user-password" name="password" ngModel minlength="6" maxlength="20" required
            #password="ngModel" />
          <label>Mật khẩu</label>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger" style="width: 100%">
            <p *ngIf="password.errors?.['required']" class="text-danger">
              Không được để trống
            </p>
          </div>
        </div>

        <button style="background-color: #274d5a;" type="submit" class="btn btn-primary w-100 mt-2">Đăng nhập</button>
        <div *ngIf="authError" class="text-danger mt-1">
          {{ authError }}
        </div>

        <div class="login-register my-1">
          <p>
            Admin ?
            <a class="register-link" routerLink="/admin">Ở đây</a>
          </p>
        </div>

        <div class="login-register my-0">
          <p>
            Bạn chưa có tài khoản?
            <a class="register-link" routerLink="/register">Đăng ký</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>